In [3]:
# Importando bibliotecas

In [55]:
import pandas as pd
from __future__ import unicode_literals

In [4]:
# Importando base de dados

In [8]:
def importar(arquivo): return pd.read_csv(f'bases/{arquivo}')

dados_categorias = importar('data_categorias.csv')
dados_clientes = importar('data_clientes.csv')
dados_lojas = importar('data_lojas.csv')
dados_produtos = importar('data_produtos.csv')
dados_vendas = importar('data_vendas.csv')

# Correções : 
* tipo de dado das datas   ✓
* Remover o R$ dos valores ✓
* Consolidar as bases      ✓
* Remover colunas com ID   ✓
* Criar a coluna de Total  ✓
* Salvar o novo data_set   ✓

In [10]:
dados_vendas['dt_Venda'] = pd.to_datetime(dados_vendas['dt_Venda'])
dados_vendas.dtypes

id_Venda              object
fk_Cliente             int64
fk_Produto             int64
fk_Loja                int64
Quantidade             int64
dt_Venda      datetime64[ns]
dtype: object

In [17]:
dados_produtos['Preço Unitário'] = dados_produtos['Preço Unitário'].str.lstrip('R$ ')
dados_produtos['Preço Unitário'] = dados_produtos['Preço Unitário'].astype(int)
dados_produtos.dtypes

id_Produto         int64
Produto           object
fk_Categoria       int64
Preço Unitário     int32
dtype: object

In [46]:
dados_consolidados = pd.merge(dados_vendas, dados_clientes, 
    left_on='fk_Cliente', right_on='id_Cliente', how='left')

dados_consolidados = pd.merge(dados_consolidados, dados_produtos, 
    left_on='fk_Produto', right_on='id_Produto', how='right')

dados_consolidados = pd.merge(dados_consolidados, dados_lojas, 
    left_on='fk_Loja', right_on='id_Loja', how='right')

dados_consolidados = pd.merge(dados_consolidados, dados_categorias, 
    left_on='fk_Categoria', right_on='id_Categoria', how='right')

# dados_consolidados.shape

#dados_consolidados.columns

(39135, 17)

In [35]:
dados_consolidados = dados_consolidados.drop(
    ['fk_Categoria', 'fk_Cliente','fk_Loja','fk_Produto'], axis=1)

In [43]:
dados_consolidados.columns

Index(['id_Venda', 'Quantidade', 'dt_Venda', 'id_Cliente', 'Cliente', 'Email',
       'id_Produto', 'Produto', 'Preço Unitário', 'id_Loja', 'Loja',
       'id_Categoria', 'Categorias', 'Total'],
      dtype='object')

In [47]:
try:
    dados_consolidados = dados_consolidados.drop(
    ['fk_Categoria', 'fk_Cliente','fk_Loja','fk_Produto'], axis=1)
except KeyError:
    print('There is not column that you tried to drop.')

In [42]:
dados_consolidados['Total'] = dados_consolidados['Quantidade'] * dados_consolidados['Preço Unitário']

In [53]:
dados_consolidados.to_csv('bases/dados_completo.csv', index=False)

In [48]:
dados_consolidados.shape

(39135, 13)

In [54]:
dados_consolidados

,id_Venda,Quantidade,dt_Venda,id_Cliente,Cliente,Email,id_Produto,Produto,Preço Unitário,id_Loja,Loja,id_Categoria,Categorias
0,766979-7865826879-vd353,31.0,2023-01-04,3996.0,Ruthe Schowalter,Ruthe@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador
1,766979-7865826879-vd1373,1.0,2023-01-13,1558.0,Samantha Pollich,Saman@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador
2,766979-7865826879-vd1589,19.0,2023-01-15,3782.0,Carli Bernhard,Carli@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador
3,766979-7865826879-vd2101,15.0,2023-01-20,1282.0,Donnie Mertz,Donni@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador
4,766979-7865826879-vd2402,32.0,2023-01-23,3815.0,Dr. Efren Brekke,Dr. E@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39130,766979-7865826879-vd34005,34.0,2023-11-08,3103.0,Joannie Goodwin,Joann@email.com,138.0,Hub_UltraHub Pro,3596.0,5.0,Santos,16,Hub
39131,766979-7865826879-vd34267,4.0,2023-11-10,480.0,Raphaelle Morar,Rapha@email.com,138.0,Hub_UltraHub Pro,3596.0,5.0,Santos,16,Hub
39132,766979-7865826879-vd34334,21.0,2023-11-11,3357.0,Melissa Wilkinson,Melis@email.com,138.0,Hub_UltraHub Pro,3596.0,5.0,Santos,16,Hub
39133,766979-7865826879-vd35066,24.0,2023-11-17,867.0,Raleigh Cronin II,Ralei@email.com,138.0,Hub_UltraHub Pro,3596.0,5.0,Santos,16,Hub
39134,766979-7865826879-vd38879,31.0,2023-12-21,1052.0,Prof. Monserrat Cartwright,Prof.@email.com,138.0,Hub_UltraHub Pro,3596.0,5.0,Santos,16,Hub